@tailwind base;
@tailwind components;
@tailwind utilities;

strong {
	@apply font-medium;
}

a {
	@apply underline font-medium underline-offset-2;
	/* @apply hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-tr hover:from-orange-400 hover:to-blue-500; */
}
p {
	@apply font-normal;
}

@layer components {
	/* Path: src/components/MyComponent.css */
	.bg-grad {
		background: radial-gradient(
				circle at var(--mx) var(--my),
				rgb(241, 245, 249) 70%,
				transparent 125%
			),
			linear-gradient(to right, rgb(253, 186, 116), rgb(253, 164, 175));
	}

	.bg-grad-dark {
		background: radial-gradient(circle at var(--mx) var(--my), #191919 70%, transparent 150%),
			linear-gradient(to right, #919bff, #133a94);
		/* linear-gradient(to right, rgb(187, 247, 208), rgb(134, 239, 172), rgb(59, 130, 246)); */
	}
}
