@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	overflow: hidden;
}

strong {
	@apply font-medium;
}

a {
	@apply underline font-medium underline-offset-2;
	/* @apply hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-tr hover:from-orange-400 hover:to-blue-500; */
}
p {
	@apply font-normal;
}

/* Background styles moved to Background.svelte component */
